.Clientes-container {
  padding: 7vh 10vw;
  max-width: 100vw;
  position: relative;
}

.Clientes-title {
  color: #aaa;
  padding-bottom: 20px;
}

.Cliente-container::-webkit-scrollbar {
  display: none;
}

.Cliente-container {
  display: flex;
  max-width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;
  position: relative;
}

.Clientes-CubeA {
  min-width: 5vw;
  min-height: 100%;
  position: sticky;
  left: 0;
}

.Clientes-CubeB {
  min-width: 5vw;
  min-height: 100%;
  position: sticky;
  right: -1px;
}

.Arrow{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 30px;
  border-top: solid 5px;
  border-right: solid 5px;
  position: absolute;
  z-index: 10000000000;
  top: calc(50% - 30px);
}

.Arrow.left{
  transform: rotate(225deg);
  left: calc(-5vw - 30px);
}

.Arrow.right{
  transform: rotate(45deg);
  right: calc(-5vw - 30px);
}

.slick-track{
  display: flex !important;
  align-items: center !important;
}

.slick-slide{
  padding: 15px !important;
}

.slick-dots li.slick-active button:before
{
    
    color: #6e40c9 !important;
}
.imgCarrousel{
 
}