.Header1-NoRadius {
  border-bottom-right-radius: unset;
  height: max-content;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .Header1-NoRadius {
    flex-direction: row;
  }
}

.Contacto-title {
  padding-top: 10px;
}

.Contacto-formContainer {
  padding: 30px 0;
}

.ContactoData-container {
  padding: 30px 0;
}

.ContactoData-title {
  font-weight: 600;
  padding-bottom: 15px;
}

.Contacto-greyColor {
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (min-width: 1000px) {
  .Contacto-formContainer {
    max-width: 30vw;
    padding-right: 10vw;
  }
}

.Contacto-mapa-container {
  margin-top: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.mapa {
  min-height: 350px;
  object-fit: contain;
}

.Contacto-dataContainer {
  margin-left: 5rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 1000px) {
  .Contacto-dataContainer {
    margin: 0 auto;
  }
}
